go 1.23.1

use (
    ./examples
    /usr/local/google/home/vissajanardhan/opentelemetry/grpc-go
)

replace google.golang.org/grpc v1.42.0 => /usr/local/google/home/vissajanardhan/opentelemetry/grpc-go
